name: CI
on:
  on: workflow_dispatch
  schedule:
    - cron: "0 13 * * 5" # Every Friday at 13:00 UTC
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: npm install
    - name: Run tests
      run: npm run test-ci